@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.wave-container {
  background-color: #B4CBD9;
  text-align: center;
  overflow: hidden;
}


/* Tips från joel....
p{
  max-width: 70ch;
} */